{% extends "layout.html" %}

{% block content %}        
            <section class="scheduling-page">
                    <div class="configure">

                        <div class="top-set">
                            <div class="card social-media">
                                
                                <div class="title-card">
                                    <p>Redes sociais</p>
                                </div>
                                    <div class="social-media-icons">
                                        <a class="media" href="#"><i class="fab fa-instagram"></i></a>
                                        <a class="media" href="#"><i class="fab fa-linkedin"></i></a>
                                        <a class="media" href="#"><i class="fab fa-youtube"></i></a>
                                        <a class="media" href="#"><i class="fab fa-pinterest"></i></a>
                                        <a class="media" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="media" href="#"><i class="fab fa-facebook"></i></a>
                                    </div>
                            </div>
                            
                            <div class=" card publication-data">
                                <div class="title-card">
                                    <p>Data de publicação</p>
                                </div>

                                <form class="data-hora">
                                    <input id="date" type="date">
                                    <input id ="time"type="time">
                                </form>
                            </div>
                        </div>

                        <div class="card-text-post">
                            <div class=" card content-card-post">
                                <div class="title-card">
                                    <p>Texto do post</p>
                                </div>
    
                                <form action="" class="text-aterea-form">
                                   <textarea name="" id="" cols="84" rows="5" placeholder="Aqui vai o texto descritivo desse post"></textarea>
                                </form>
                            </div>
                        </div>

                        <div class="upload-image">
                            <div class=" card card-upload-image">
                                <div class="title-card">
                                    <p>Upload de imagem</p>
                                </div>
                                <div class="content-upload-image">
                                    <img src="/images/mdi_cloud_upload.svg" alt="icone de upload de imagens">
                                    <p class="text">Arraste e solte uma imagem aqui ou clique no botão abaixo</p>
                                    <label for="file" class="input-label-file text">Pesquisar imagens</label><input id="file" type="file" accept=".png, .jpg, .jpeg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                            <div class="card card-preview">
                                <div class="title-card">
                                    <p>Visualização do post</p>
                                </div>
                                <div class="content-card-preview">
                                    <p class="text">Aguardando conteúdo. Informe os canais e as mídias desejadas para visualização.</p>
                                    <img src="/images/post-preview.svg" alt="vetor ilustrativo de postagem">
                                </div>
                            </div>
                    </div>
            </section>
    
            <footer>
                <div class="form-group">
                    <a href="/" class="btn cancel">Cancelar</a>
                  <button class="btn save">Salvar Rascunho</button>
                  <button class="btn schedule">Agendar</button>
                </div>
            </footer>
{% endblock %}