{% extends "layout.html" %}

{% block content %}        
            <section class="scheduling-page">
                    <div class="configure">

                        <div class="top-set">
                            <div class="card social-media">
                                <div class="title-card">
                                    <p>Redes sociais</p>
                                </div>
                                    <div id="social-media-icons">
                        
                                        {% for item in items %}
                                            <button class="btn-social-media {{item.status}} {{item.class}} " id="{{item.id}}"></button>
                                        {%endfor%}

                                    </div>
                            </div>
                            
                            <div class=" card publication-data">
                                <div class="title-card">
                                    <p>Data de publicação</p>
                                </div>

                                <form class="date-time">
                                    <div class="card card-date">
                                        <img src="/images/calendar-alt.svg" class="icon-date" alt="">
                                        <input id="date" type="text">
                                    </div>
                                    
                                    <input id ="time"type="time">
                                </form>
                            </div>
                        </div>

                        <div class="card-text-post">
                            <div class=" card content-card-post">
                                <div class="title-card">
                                    <p>Texto do post</p>
                                </div>
    
                                <form action="" class="text-aterea-form">
                                   <textarea id="myTextarea" rows="5" placeholder="Aqui vai o texto descritivo desse post"></textarea>
                                </form>
                            </div>
                        </div>

                        <div class="upload-image">
                            <div class=" card card-upload-image">
                                <div class="title-card">
                                    <p>Upload de imagem</p>
                                </div>
                                <div class="content-upload-image">
                                    <div class="border-upload">
                                        <img src="/images/mdi_cloud_upload.svg" alt="icone de upload de imagens">
                                        <p class="text">Arraste e solte uma imagem aqui ou clique no botão abaixo</p>
                                        <label for="file" class="input-label-file text">
                                            <span id="label-span">Pesquisar imagens</span>
                                        </label>
                                        <input id="file" type="file" accept=".png, .jpg, .jpeg"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="resp-preview">
                            <button class="btn btn-preview-post">Visualizar post</button>
                        </div>
                    </div>
                    <div class="preview">
                            <div class="card card-preview">
                                <div class="title-card">
                                    <p>Visualização do post</p>
                                </div>
                                <div class="content-card-preview">
                                    <div class="content-post">

                                        <div id="waiting-post" class="waiting-content">
                                            <p class="text">Aguardando conteúdo. Informe os canais e as mídias desejadas para visualização.</p>
                                            <img src="/images/post-preview.svg" alt="vetor ilustrativo de postagem">
                                        </div>
                                        
                                        <div id="post-instagram" class="card post">
                                            <div class="top-post">
                                                <div class="logo-instagram">
                                                    <a class="fab fa-instagram"></a>
                                                </div>
                                                <p class="text">Anselmo Carlos</p>
                                            </div>
                                            <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                             
                                            <div class="bottom-post-instagram">
                                                <div class="icons-instagram">
                                                    <div class="left-icons">
                                                        <img src="/images/heart.svg" alt="Icone de amei">
                                                        <img src="/images/comment.svg" alt="Icone de comentário">
                                                    </div>
                                                    <img src="/images/bookmark.svg" alt="Icone de favoritar">
                                                </div>
                                                <p class="text text-post">Aqui vai o texto descritivo desse post</p>
                                            </div>
                                        </div>

                                        <div id="post-linkedin" class="card post">
                                            <div class="top-post">
                                                <div class="logo-linkedin">
                                                    <a class="fab fa-linkedin-in"></a>
                                                </div>
                                                <div class="top-linkedin">
                                                    <p class="text">Anselmo Carlos</p>
                                                    <p class="date-post">06 de Setembro</p>
                                                </div>
                                            </div>
                                            <p class="text text-post pdd-14">Aqui vai o texto descritivo desse post</p>
                                            <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                            <div class="bottom-post-linkedin">
                                                <div class="line-bottom">
                                                    <p class="text">5 comentários</p>
                                                </div>
                                                <div class="icons-linkedin">
                                                    <img src="/images/icon-like.svg" alt="">
                                                    <img src="/images/icon-comment.svg" alt="">
                                                    <img src="/images/icon-shared.svg" alt="">
                                                </div>
                                            </div>
                                        </div>                                   
                                    </div>                              
                                </div>
                            </div>
                    </div>
            </section>

            <div class="modal-overlay">
                    <div class="close-modal">
                        <div class="title-close-modal">
                            <p class="text">Visualização do post</p>
                        </div>
                        <img class="close-icon" src="/images/close-icon.svg" alt="">
                    </div>

                    <div class="div-branca">
                        <div class="div-branca-conteudo">
                            <div id="resp-card-preview">

                                <div class="content-card-preview">
                                    <div class="content-post">

                                        
                                        <div id="post-instagram2" class="post">
                                            <div class="top-post">
                                                <div class="logo-instagram">
                                                    <a class="fab fa-instagram"></a>
                                                </div>
                                                <p class="text">Anselmo Carlos</p>
                                            </div>
                                            <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                             
                                            <div class="bottom-post-instagram">
                                                <div class="icons-instagram">
                                                    <div class="left-icons">
                                                        <img src="/images/heart.svg" alt="Icone de amei">
                                                        <img src="/images/comment.svg" alt="Icone de comentário">
                                                    </div>
                                                    <img src="/images/bookmark.svg" alt="Icone de favoritar">
                                                </div>
                                                <p class="text text-post">Aqui vai o texto descritivo desse post</p>
                                            </div>
                                        </div>

                                        <div id="post-linkedin2" class="card post">
                                            <div class="top-post">
                                                <div class="logo-linkedin">
                                                    <a class="fab fa-linkedin-in"></a>
                                                </div>
                                                <div class="top-linkedin">
                                                    <p class="text">Anselmo Carlos</p>
                                                    <p class="date-post">06 de Setembro</p>
                                                </div>
                                            </div>
                                            <p class="text text-post pdd-14">Aqui vai o texto descritivo desse post</p>
                                            <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                            <div class="bottom-post-linkedin">
                                                <div class="line-bottom">
                                                    <p class="text">5 comentários</p>
                                                </div>
                                                <div class="icons-linkedin">
                                                    <img src="/images/icon-like.svg" alt="">
                                                    <img src="/images/icon-comment.svg" alt="">
                                                    <img src="/images/icon-shared.svg" alt="">
                                                </div>
                                            </div>
                                        </div>                       
                                    </div>
                            </div>
                        </div>
                    </div>   
            </div>

            
    
            <footer>
                <div class="form-group">
                    <a href="/" class="btn cancel">Cancelar</a>
                    <button class="btn save">Salvar Rascunho</button>
                    <button class="btn schedule">Agendar</button>
                </div>
            </footer>
{% endblock %}