{% extends "layout.html" %}

{% block content %}        
            <section class="listing-page">

                <h1 class="title-page teste2">Listagem de agendamento</h1>
                
                <div class="table">

                   <div class="item title center">
                       <p>Redes sociais</p>
                   </div>
                   <div class="item title center">
                       <p>Mídia</p>
                    </div>
                    <div class="item title">
                        <p>Texto</p>
                     </div>
                     <div class="item title">
                        <p>Data</p>
                        <img class="dateIcon" src="/images/arrow-up.svg" alt="icone de seta para baixo">
                    </div>
                    <div class="item title center">
                        <p>Ações</p>
                     </div>
                     <div class="item title ">
                        <p>Status</p>
                    </div>

                    {% for dado in dados  %}   
                    <div id={{dado.id}} class="item social-media-list">
                        <div class="logo-list">
                            <div class="{{dado.class}}">
                                <a class="{{dado.logo}}"></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                           
                    <div class="item item-midia">
                        <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                    </div>

                    <div class="item text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    </div>

                    <div class="item date">
                        <p>09/09/2020 às 14:45h</p>
                    </div>

                    <div class="item action">
                        <button class="list-Preview">Preview</button>
                    </div>

                    <div class="item action" >
                        <p class="status">Agendado</p>
                     </div>

                </div>

                <div class="modal-position">
                    <div class="modal-overlay smaller-post">
                        <div class="close-modal">
                            <div class="title-close-modal">
                                <p class="text">Visualização do post</p>
                            </div>
                            <img class="close-icon" src="/images/close-icon.svg" alt="icone para fechar">
                        </div>
    
                        <div class="div-branca margin10">
                            <div class="div-branca-conteudo">
                                <div id="resp-card-preview">
    
                                    <div class="content-card-preview">
                                        <div class="content-post smaller-content">
    
                                            
                                            <div id="post-instagram2" class="post smaller-content">
                                                <div class="top-post">
                                                    <div class="logo-instagram">
                                                        <a class="fab fa-instagram"></a>
                                                    </div>
                                                    <p class="text">Anselmo Carlos</p>
                                                </div>
                                                <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                                 
                                                <div class="bottom-post-instagram smaller-icons">
                                                    <div class="icons-instagram smaller-icons">
                                                        <div class="left-icons">
                                                            <img src="/images/heart.svg" alt="Icone de amei">
                                                            <img src="/images/comment.svg" alt="Icone de comentário">
                                                        </div>
                                                        <img src="/images/bookmark.svg" alt="Icone de favoritar">
                                                    </div>
                                                    <p class="text text-post">Aqui vai o texto descritivo desse post</p>
                                                </div>
                                            </div>
    
                                            <div id="post-linkedin2" class="card post smaller-content">
                                                <div class="top-post">
                                                    <div class="logo-linkedin">
                                                        <a class="fab fa-linkedin-in"></a>
                                                    </div>
                                                    <div class="top-linkedin">
                                                        <p class="text">Anselmo Carlos</p>
                                                        <p class="date-post">06 de Setembro</p>
                                                    </div>
                                                </div>
                                                <p class="text text-post pdd-14">Aqui vai o texto descritivo desse post</p>
                                                <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                                                <div class="bottom-post-linkedin">
                                                    <div class="line-bottom">
                                                        <p class="text">5 comentários</p>
                                                    </div>
                                                    <div class="icons-linkedin smaller-icons">
                                                        <img src="/images/icon-like.svg" alt="icone de like">
                                                        <img src="/images/icon-comment.svg" alt="icone de comentário">
                                                        <img src="/images/icon-shared.svg" alt="icone de compartilhar">
                                                    </div>
                                                </div>
                                            </div>                       
                                        </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
               

            </section>

{% endblock %}