{% extends "layout.html" %}

{% block content %}        
            <section class="listing-page">

                <h1 class="title-page">Listagem de agendamento</h1>
                
                <div class="table">

                   <div class="item title">
                       <p>Redes sociais</p>
                   </div>
                   <div class="item title">
                       <p>Mídia</p>
                    </div>
                    <div class="item title">
                        <p>Texto</p>
                     </div>
                     <div class="item title">
                        <p>Data</p>
                    </div>
                    <div class="item title">
                        <p>Ações</p>
                     </div>
                     <div class="item title">
                        <p>Status</p>
                    </div>

                    {% for dado in dados  %}   
                    <div id={{dado.id}} class="item social-media">
                        <div class="{{dado.class}}">
                            <a class="{{dado.logo}}"></a>
                        </div>
                    </div>
                    {% endfor %}
                           
                    <div class="item item-midia">
                        <img src="https://images.unsplash.com/photo-1600025282051-ec0c6bf3137a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Imagem do post">
                    </div>

                    <div class="item text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    </div>

                    <div class="item date">
                        <p>09/09/2020 às 14:45h</p>
                    </div>

                    <div class="item action">
                       <a href="">Preview</a>
                    </div>

                    <div class="item action">
                        <p>Agendado</p>
                     </div>

                </div>

                


            </section>

{% endblock %}