{% extends "layout.html" %}

{% block content %}        
            <section class="listing-page">
                <div class="table">
                    <div class="colum-social-media">
                        <div class="title">
                            <p>Redes sociais</p>
                        </div>
                    </div>
                    <div class="colum-text">
                        <div class="title">
                            <p>Midia</p>
                        </div>
                    </div>
                    <div class="colum-media">
                        <div class="title">
                            <p>Texto</p>
                        </div>
                    </div>
                    <div class="colum-date">
                        <div class="title">
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="colum-action">
                        <div class="title">
                            <p>Ações</p>
                        </div>
                    </div>
                    <div class="colum-stats">
                        <div class="title">
                            <p>Status</p>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}