:root {
  --color-background: #f8f8f8;
  --color-menu: #ffffff;
  --orange-btn: #f2994a;
  --border-orange-btn: #e0812c;
  --color-blue: #2f80ed;
  --color-border: #e0e0e0;
  --color-border-medium: #bdbdbd;
  --color-border-black: #949494;
  --color-black: #333333;
  --color-text-second: #4f4f4f;
  --color-text-input: #828282;
  --color-background-disabled: #dddddd;
  --color-disabled: #989898;
  --color-logo-istagram: linear-gradient(
    187.5deg,
    #ef2ea2 5.81%,
    #e0a22b 109.34%
  );
  --color-border-instagram: #ef2ea2;
  --color-logo-linkedin: #2e92ef;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea,
seclect {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

img {
  max-width: 100%;
}

body {
  background: var(--color-background);
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  max-width: 100%;
  height: 80px;
  background: var(--color-menu);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*MENU*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 18px 40px;
}

.user {
  display: flex;
  align-items: center;
}

.user p {
  margin-left: 8px;
  font-weight: 500;
}

/*Mni-menu*/
.mini-menu {
  display: none;
}

#checkbox-mini-menu {
  position: absolute;
  opacity: 0;
}
.mini-menu label {
  width: 24px;
  height: 22px;
  display: block;
  position: relative;
  cursor: pointer;
}

.mini-menu label span {
  width: 100%;
  height: 5px;
  background: #000000;
  border-radius: 30px;
  display: block;
  position: absolute;

  transition: 0.25s ease-in-out;
}

.mini-menu label span:nth-child(1) {
  top: 0;
}

.mini-menu label span:nth-child(2) {
  top: 8px;
}

.mini-menu label span:nth-child(3) {
  top: 16px;
}

#checkbox-mini-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-mini-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-mini-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

/*Botoês*/
.btn {
  width: 184px;
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.post-on {
  display: block !important;
}

.off {
  display: none;
}
.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/*Cards*/
.card {
  background: var(--color-menu);
  border-radius: 4px;
  border: solid 1px var(--color-border);
  box-sizing: border-box;
}
.title-card {
  color: #333333;
  border-bottom: 1px solid var(--color-border);
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  padding: 5px 0;
  padding-left: 17px;
}

.text {
  color: var(--color-text-input);
  font-size: 1rem;
  font-weight: 500;
}

.text-post {
  color: var(--color-text-second);
}
