.listing-page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}

.table {
  width: 1355px;

  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  background-color: #eee;
  grid-template-areas: "";
  background: var(--color-border-medium);
}

.table .colum-social-media {
  background: yellow;
}
.table .colum-text {
  background: blue;
}
.table .colum-media {
  background: green;
}
.table .colum-date {
  background: gray;
}
.table .colum-action {
  background: rebeccapurple;
}
.table .colum-stats {
  background: olive;
}
