.scheduling-page {
  margin: 50px auto;

  max-width: 1360px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/*Cards de configrações*/
.scheduling-page .configure {
  height: 100%;
  padding: 50px 0 40px 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.configure .top-set {
  width: 100%;
  max-height: 214.33%;
  display: flex;

  justify-content: space-between;
}

.configure .social-media {
  width: 315px;
  height: 110px;

  margin-right: 40px;
}

.configure .social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100% - 35px);
  padding: 0 21px;
}

.configure .social-media-icons a {
  color: var(--color-black);
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  text-align: center;

  border: 1px solid var(--color-black);
  border-radius: 50%;
  margin: 0 auto;
}

.configure .social-media-icons a:hover {
  background: #fff3e0;
  border: 1px solid #ef9f2e;
  color: #ef9f2e;

  transform: scale(1.1);
  transition: all 0.3s ease;
}

.configure .social-media-icons a:focus {
  background: linear-gradient(135deg, #ef9f2e 25%, #e02b4b 105.56%);
  border: 1px solid #ef9f2e;
  color: white;
}

.configure .publication-data {
  width: 315px;
  height: 110px;
}

.configure .data-hora {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: red;
  height: calc(100% - 35px);
  padding: 0 21px;
}

.data-hora #date {
  width: 124px;
  height: 42px;

  color: var(--color-text-input);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  border-radius: 4px;
  border: 1px solid var(--color-border-black);

  margin-right: 29px;
  cursor: pointer;
}

.data-hora #time {
  width: 124px;
  height: 42px;

  color: var(--color-text-input);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  border-radius: 4px;
  border: 1px solid var(--color-border-black);
  cursor: pointer;
}

.configure .card-text-post {
  max-height: 214.33%;
}

.configure .content-card-post {
  width: 671px;
  height: 214px;

  margin-top: 40px;
}

.text-aterea-form {
  height: calc(100% - 35px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-aterea-form textarea {
  border: 1px solid var(--color-border-black);
  border-radius: 4px;
  cursor: text;

  padding: 15px;
}

.configure .upload-image {
  max-height: 214.33%;
}

.card-upload-image {
  width: 671px;
  height: 239px;

  margin-top: 40px;
}

.content-upload-image {
  height: calc(100% - 35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Card preview*/
.scheduling-page .preview {
  height: 100%;
  padding: 50px 40px 40px 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preview .card-preview {
  width: 649px;
  height: 643px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.preview .content-card-preview {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.preview .content-card-preview p {
  max-width: 380px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  background: var(--color-menu);
  height: 67px;
  margin-top: auto;

  display: flex;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin-right: 52px;
}

.form-group .cancel {
  background: none;
  color: var(--color-blue);
  margin-right: 16px;
}

.form-group .save {
  background: none;
  border: solid 1px var(--color-blue);
  color: var(--color-blue);
  text-decoration: none;
  margin-right: 16px;
}

.form-group .schedule {
  background: var(--color-blue);
  color: white;
  margin-right: 16px;
}
