.listing-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 1365px;

  background: var(--color-border-medium);
  border: 3px solid var(--color-border-medium);

  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1.5fr 1fr 1fr;
  grid-template-rows: 80px 80px;
  grid-gap: 2px;
}

.item {
  color: var(--color-text-second);
  padding: 0 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: var(--color-menu);

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
}

.logo-instagram {
  width: 33px;
  height: 33px;
  background: var(--color-pink);
  color: var(--color-menu);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-midia img {
  width: 50px;
  height: 50px;
}

.item .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  background: red;
}
