.scheduling-page {
  max-width: 1360px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/*Cards de configrações*/
.scheduling-page .configure {
  height: 100%;
  padding: 50px 0 40px 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.configure .top-set {
  width: 100%;
  max-height: 214.33%;

  display: flex;
  justify-content: space-between;
}

.configure .social-media {
  width: 315px;
  height: 110px;

  margin-right: 40px;
}

.configure #social-media-icons {
  height: calc(100% - 35px);
  padding: 0 21px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#social-media-icons .click-social-media {
  color: white;
  background: linear-gradient(135deg, #ef9f2e 25%, #e02b4b 105.56%);
  border: 1px solid #ef9f2e;
  outline-style: none;
}

.configure .btn-social-media {
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.configure .enabled {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background: var(--color-background);
}

.configure .enabled:focus {
  outline-style: none;
}

.configure .enabled:hover {
  color: #ef9f2e;
  background: #fff3e0;
  border: 1px solid #ef9f2e;

  transform: scale(1.1);
  transition: all 0.3s ease;
}

.configure .disabled {
  color: var(--color-disabled);
  background: var(--color-background-disabled);
  border: 1px solid var(--color-disabled);
  cursor: auto;
  pointer-events: none;
}

.configure .publication-data {
  width: 315px;
  height: 110px;
}

.configure .data-hora {
  height: calc(100% - 35px);
  background-color: red;
  padding: 0 21px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-hora #date {
  width: 124px;
  height: 42px;
  color: var(--color-text-input);
  border-radius: 4px;
  border: 1px solid var(--color-border-black);
  margin-right: 29px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.data-hora #time {
  width: 124px;
  height: 42px;
  color: var(--color-text-input);
  border-radius: 4px;
  border: 1px solid var(--color-border-black);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.configure .card-text-post {
  max-height: 214.33%;
}

.configure .content-card-post {
  width: 671px;
  height: 214px;
  margin-top: 40px;
}

.text-aterea-form {
  height: calc(100% - 35px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-aterea-form textarea {
  border: 1px solid var(--color-border-black);
  border-radius: 4px;
  padding: 15px;
  cursor: text;
}

.configure .upload-image {
  max-height: 214.33%;
}

.card-upload-image {
  width: 671px;
  height: 239px;
  margin-top: 40px;
}
.card-upload-image img {
  margin-bottom: 13px;
}

.content-upload-image {
  height: calc(100% - 35px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.border-upload {
  width: 639px;
  height: 178px;
  border: 1px dashed var(--color-border-medium);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#file {
  display: none;
}

.input-label-file {
  width: 181px;
  height: 36px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  margin-top: 25px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*Card preview*/
.scheduling-page .preview {
  height: 100%;
  padding: 50px 40px 40px 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preview .card-preview {
  width: 649px;
  height: 643px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.preview .content-card-preview {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.waiting-content {
  text-align: center;
}
.waiting-content p {
  max-width: 380px;
  margin-bottom: 30px;
  text-align: center;
}

.content-post {
  width: 368px;
  height: 535px;
}

.content-post #post-instagram {
  border: 1px solid var(--color-border-medium);
  display: none;
}

.content-post #post-instagram img {
  width: 100%;
  height: 368px;
}

#post-instagram .top-post-instagram {
  height: 64px;
  padding-left: 13px;
  display: flex;
  align-items: center;
}

#post-instagram .top-post-instagram p {
  color: black;
  padding-left: 12px;
}

.top-post-instagram .logo-instagram {
  width: 40px;
  height: 40px;
  color: white;
  background: linear-gradient(187.5deg, #ef2ea2 5.81%, #e0a22b 109.34%);
  border: 1px solid #ef2ea2;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-post-instagram .logo-instagram a {
  font-size: 24px;
}

#post-instagram .bottom-post-instagram {
  height: 82px;
  padding: 0 14px;
}

#post-instagram .icons-post-instagram {
  display: flex;
  justify-content: space-between;
}

#post-instagram .icons-post-instagram img {
  width: 22px;
  height: 24px;
}

.icons-post-instagram .left-icons img {
  margin-top: 5px;
  margin-right: 18px;
}

footer {
  height: 67px;
  background: var(--color-menu);
  margin-top: auto;

  display: flex;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-right: 52px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.form-group .cancel {
  color: var(--color-blue);
  background: none;
  margin-right: 16px;
}

.form-group .save {
  color: var(--color-blue);
  background: none;
  border: solid 1px var(--color-blue);
  text-decoration: none;
  margin-right: 16px;
}

.form-group .schedule {
  color: white;
  background: var(--color-blue);
  margin-right: 16px;
}
