.listing-page {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-page {
  width: 1365px;
  color: var(--color-text-second);
  font-size: 16px;
  font-weight: 500;

  margin-top: 106px;
  margin-bottom: 30px;
}

.table {
  width: 1365px;
  background: var(--color-border-medium);
  border: 3px solid var(--color-border-medium);

  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1.5fr 1fr 1fr;
  grid-template-rows: 80px 80px;
  grid-gap: 2px;
  animation: motion-opacity 0.5s linear, motionX 1s ease-in-out;
}

.item {
  color: var(--color-text-second);
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: var(--color-row);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(-n + 6) {
  background: var(--color-menu);
}

.title {
  margin-bottom: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.logo-instagram {
  width: 33px;
  height: 33px;
  background: var(--color-pink);
  color: var(--color-menu);
  border-radius: 50%;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-linkedin {
  width: 33px;
  height: 33px;
  background: var(--color-logo-linkedin2);
  color: var(--color-menu);
  border-radius: 50%;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-midia img {
  width: 50px;
  height: 50px;
}

.item .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status::before {
  content: " ";
  width: 12px;
  height: 12px;
  background: var(--color-blue);
  border-radius: 50%;
  margin-right: 6px;

  display: block;
}

#linkedin {
  display: none;
}

@media (max-width: 1375px) {
  .listing-page {
    align-items: flex-start;
  }
}
