.home-page {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-img {
  animation: motion-opacity 0.5s linear;
}

.home-img img {
  width: 375px;
  height: 423px;
  animation: motionX 1s ease-out;
}

.schedule-btn {
  background: var(--orange-btn);
  border: 1px solid #e0812c;
  text-align: center;
  margin-top: 69px;
  cursor: pointer;
}

.schedule-btn:hover {
  transform: scale(1.1);
}

.schedule-btn a {
  color: #ffffff;
  line-height: 24px;
}

/*Responsividade*/
@media (max-width: 560px) {
  .mini-menu {
    display: block;
  }
  .menu-logo,
  .user p {
    display: none;
  }

  .home {
    justify-content: flex-start;
    margin-top: 85px;
  }

  .home-img img {
    transform: scale(0.9);
  }

  .schedule-btn {
    margin-top: 49px;
  }
}
