.scheduling-page {
  margin: 50px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Cards de configrações*/
.scheduling-page .configure {
  width: 50%;
  max-width: 671px;

  padding: 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.configure .top-set {
  width: 100%;
  max-height: 214.33%;

  display: flex;
  justify-content: space-between;
}

.configure .social-media {
  width: 46%;
}

.configure #social-media-icons {
  height: calc(100% - 35px);
  margin: 0 auto;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#social-media-icons .click-social-media {
  color: white;
  background: linear-gradient(135deg, #ef9f2e 25%, #e02b4b 105.56%);
  border: 1px solid #ef9f2e;
  outline-style: none;
}

.configure .btn-social-media {
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.configure .btn-social-media:nth-child(-n + 5) {
  margin-right: 0.5em;
}

.configure .enabled {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background: var(--color-background);
}

.configure .enabled:focus {
  outline-style: none;
}

.configure .enabled:hover {
  color: #ef9f2e;
  background: #fff3e0;
  border: 1px solid #ef9f2e;

  transform: scale(1.1);
  transition: all 0.3s ease;
}

.configure .disabled {
  color: var(--color-disabled);
  background: var(--color-background-disabled);
  border: 1px solid var(--color-disabled);
  cursor: auto;
  pointer-events: none;
}

.configure .publication-data {
  width: 46%;
  height: 110px;
}

.configure .date-time {
  height: calc(100% - 35px);
  padding: 0 21px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-date {
  max-width: 100%;

  height: 42px;
  border-radius: 4px;
  border: 1px solid var(--color-border-black);
  margin-right: 29px;
  padding: 8px;
  padding-right: 20px;

  display: flex;
  justify-content: center;
}

.card-date img {
  margin: 0 10px;
}

.date-time #date {
  width: 50px;
  height: 25px;
  color: var(--color-text-input);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.date-time #time {
  width: 120px;
  height: 42px;
  color: var(--color-text-input);
  border-radius: 4px;
  border: 1px solid var(--color-border-black);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

/*Calendario*/
.ui-state-default,
.ui-widget-header,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none !important;
  background: none !important;
  font-family: "Poppins", sans-serif !important;
  color: #172b4d !important;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center !important;
}

.ui-widget-content {
  padding: 15px !important;
  margin-top: 25px !important;
  border: none !important;
  background: white !important;
  color: #172b4d !important;
  filter: drop-shadow(0px 3px 5px rgba(9, 30, 66, 0.2)) !important;
}

.ui-widget-header {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  margin-bottom: 15px !important;
}

.ui-datepicker table {
  font-size: 12px !important;
  line-height: 18px !important;
}
.card-text-post {
  width: 100%;
}
.configure .content-card-post {
  max-width: 100%;
  height: 214px;
  margin-top: 2.45rem;
}

.text-aterea-form {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-aterea-form textarea {
  width: 100%;

  border: 1px solid var(--color-border-black);
  border-radius: 4px;
  padding: 15px;
  cursor: text;
}

.card-upload-image {
  margin-top: 2.45rem;
}

.content-upload-image {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.border-upload {
  width: 100%;
  height: 178px;
  border: 1px dashed var(--color-border-medium);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#file {
  display: none;
}

.input-label-file {
  width: 181px;
  height: 36px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  margin-top: 25px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resp-preview {
  width: 100%;
  display: none;
  margin-top: 2.45rem;
}

.btn-preview-post {
  width: 100%;
  color: white;
  background: var(--orange-btn);
  border: 1px solid var(--border-orange-btn);
}

/*Card preview*/
.scheduling-page .preview {
  width: 50%;
  max-width: 671px;
  height: 100%;
  padding: 40px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.preview .card-preview {
  width: 649px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.preview .content-card-preview {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.waiting-content {
  text-align: center;
}
.waiting-content p {
  max-width: 380px;
  margin-bottom: 30px;
  text-align: center;
}

.content-post {
  width: 368px;
  height: 535px;
}

.content-post .post {
  border: 1px solid var(--color-border-medium);
  display: none;
}

.content-post .post img {
  width: 100%;
  height: 368px;
}

.content-post .top-post {
  height: 64px;
  padding-left: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-post .top-post p {
  color: black;
  padding-left: 12px;
}

.top-post .logo-instagram {
  width: 40px;
  height: 40px;
  color: white;
  background: var(--color-logo-istagram);
  border: 1px solid var(--color-border-instagram);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-post a {
  font-size: 24px;
}

.bottom-post-instagram {
  height: 82px;
  padding: 0 14px;
}

.bottom-post-instagram .icons-instagram {
  display: flex;
  justify-content: space-between;
}

.bottom-post-instagram .icons-instagram img {
  width: 22px;
  height: 24px;
}

.icons-instagram .left-icons img {
  margin-top: 5px;
  margin-right: 18px;
}

.top-post .logo-linkedin {
  width: 40px;
  height: 40px;
  color: white;
  background: var(--color-logo-linkedin);
  border: 1px solid var(--color-logo-linkedin);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-linkedin .date-post {
  color: var(--color-text-input);
  font-size: 12px;
  line-height: 18px;
}

.pdd-14 {
  margin-left: 14px;
  margin-bottom: 10px;
}

.bottom-post-linkedin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bottom-post-linkedin .icons-linkedin {
  margin-left: 14px;
  margin-top: 5px;
}

.bottom-post-linkedin .line-bottom {
  border-bottom: 1px solid var(--color-border-medium);
}

.bottom-post-linkedin .line-bottom p {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  margin-left: 14px;
  margin-bottom: 5px;
}

.bottom-post-linkedin .icons-linkedin img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

footer {
  width: 100%;
  height: 67px;
  background: var(--color-menu);

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-group .cancel {
  color: var(--color-blue);
  background: none;
  margin-right: 16px;
}

.form-group .save {
  color: var(--color-blue);
  background: none;
  border: solid 1px var(--color-blue);
  text-decoration: none;
  margin-right: 16px;
}

.form-group .schedule {
  color: white;
  background: var(--color-blue);
}

.form-group .schedule:nth-child(-n + 2) {
  margin-right: 16px;
}

.modal-overlay {
  background-color: var(--color-menu);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

.div-branca {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-modal {
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.title-close-modal {
  padding: 13px 0;
}

#resp-card-preview {
  width: 100%;
  height: 100%;

  top: 0;
  /*  display: none; */
}

/*Responsividade*/
@media (max-width: 1200px) {
  .scheduling-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .scheduling-page .configure {
    width: 100%;
    max-height: 55%;
    padding-top: 0;
  }
  .scheduling-page .preview {
    width: 100%;
    max-height: 45%;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .upload-image {
    width: 100%;
  }
  footer {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
  }
  .form-group {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 670px) {
  .scheduling-page {
    margin: 50px 0 0px;
  }

  .scheduling-page .configure {
    width: 550px;
    max-height: 100%;
  }

  .resp-preview {
    display: block;
  }

  .scheduling-page .preview {
    display: none;
  }

  .configure .top-set {
    display: flex;
    flex-direction: column;
  }

  .top-set .social-media {
    width: 100%;
    margin-bottom: 2.45rem;
  }

  .configure .publication-data {
    width: 100%;
  }

  .input-label-file {
    margin-top: 0;
  }

  .border-upload {
    width: 100%;
    height: 82px;
  }

  .border-upload img {
    display: none;
  }
  .border-upload p {
    display: none;
  }

  .footer .form-group {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 560px) {
  .scheduling-page .configure {
    max-width: 100vw;
    max-height: 100%;
  }
}
